<ion-header>
   <ion-toolbar>
      <ion-button slot="start">
         <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-button>
      <ion-title class="title" slot="start">HOME</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <ion-row class="ion-justify-content-center ion-align-items-center">
   <ion-card>
      <img class="img-lab" alt="Silhouette of mountains" src="../../assets/images/labimg.jpg" />
      <ion-card-header>
        <ion-card-title class="card-title">{{userName}}</ion-card-title>
        <ion-card-subtitle class="card-sub">
          <ion-icon name="desktop-outline" size="large" color="success" style="margin-bottom: 10px;"></ion-icon>
          <!--<ion-label style="display: block; margin-bottom: 10px;" color="success">{{estado}}</ion-label> -->
        </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        
      </ion-card-content>
    </ion-card>
    </ion-row>

    <div class="center">
      <ul class="buttons">
        <li>
          <ion-button color="primary" (click)="redirMaquinas()">Lista de uso con maquinas</ion-button>
        </li>
        <br>
        <li>
          <ion-button color="primary" (click)="redirSinMaquinas()">Lista de uso sin maquinas</ion-button>
        </li>
      </ul>
    </div>
</ion-content>
