.center {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.centering {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border-radius: 15px;
    background-color: #f1faee;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.title-style {
    color: black;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

ion-button {
    --border-radius: 15px;
    --background: #0A253F;
    --color: white;
    --padding: 30px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;

    --width: 100%;
    
    --box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

ion-input {
    --highlight-color-focused:#0A253F;
    --color:black;
}
