<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-card color="dark" class="card-style">
         <ion-card-header>
           <ion-card-title class="title">Log in</ion-card-title>
         </ion-card-header>
       
         <ion-card-content>
            <ion-input label="Usuario" labelPlacement="floating" placeholder="Usuario" [(ngModel)]="user"></ion-input>
            <ion-input label="Contrasena" labelPlacement="floating" placeholder="Contrasena" type="password" [(ngModel)]="password"></ion-input>

            <ion-button expand="block" (click)="iniciarSesion()">Iniciar Sesion</ion-button>
         </ion-card-content>
       </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>