<ion-header>
   <ion-toolbar>
      <ion-title class="title">LISTA DE ESTUDIANTES</ion-title>
      <ion-button slot="start">
         <ion-menu-button></ion-menu-button>
      </ion-button>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<br>

<div class="button-container">
  <ion-button (click)="presentAlert()" class="reg-button">
    <ion-icon slot="start" name="person-add-outline"></ion-icon>
    Registrar
  </ion-button>
</div>

  <ion-list class="list">
    <ion-item color="primary" class="zitem">
      <ion-label style="text-align: center;" class="label-list">Estudiantes</ion-label>
    </ion-item>
    <ion-item color="light" *ngFor="let usuario of listaUsuariosSM" (click)="mostrarDatos(usuario)" class="zitem">
      <ion-label>{{ usuario.nombre }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
